.lavoraConNoi {
  margin-top: 60px;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 50px 0;

  .wrapperContent {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    background-color: rgb(55 55 55 / 97%);
    padding: 1.5rem;
    border-radius: 10px;
    gap: 1rem;
  }
  img {
    z-index: -1;
    object-fit: cover;
  }
  h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  p {
    color: white;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
  }
  a {
    color: white;
  }
  .btn {
    display: inline-block;
    background-color: #373737;
    color: #fff;

    padding: 2px 18px;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
  }
  .textContent {
    flex: 1 1 400px;
    padding: 20px;
  }
}
