* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header {
  position: relative;
}

.button {
  border-radius: 5px;
  width: auto;
  background-color: #cca817;
  padding: 2px 18px;
  color: #fff;
  display: block;
  line-height: 24px;
}
main {
  a {
    color: #000;
    text-decoration: underline;
  }
}

.link-certificazioni {
  display: inline-block;
  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}
.backbtn {
  border: none;
  border-radius: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 2rem;
  svg {
    top: 2px;
    position: relative;
  }
}
